{% extends "index.html" %}
{% block title %}Recognition Face Page{% endblock %}
{% block content %} 
<h1>Upload Your Image To Recognize</h1>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p>{{msg}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
<div>
    <form method="post"  enctype="multipart/form-data">
        <input type="file" name="image">
        <input type="submit" value="Submit">
    </form>
</div>
{% endblock %}